<h1>Listing hashcodes</h1>

<table>
  <tr>
    <th>Hash</th>
    <th>Pin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hashcodes.each do |hashcode| %>
  <tr>
    <td><%= hashcode.hash %></td>
    <td><%= hashcode.pin %></td>
    <td><%= link_to 'Show', hashcode %></td>
    <td><%= link_to 'Edit', edit_hashcode_path(hashcode) %></td>
    <td><%= link_to 'Destroy', hashcode, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hashcode', new_hashcode_path %>
